@model Tuple<Roomtype,string,string,string,string>;
@{
	ViewData["title"] = "checkout";
}

<main>
	<div class="bn-room" style="background-image: url(./img/ck.jpg);">
		<div class="bn-room-content">
			<span><a href="./index.html">home></a>checkout></span>
			<div class="name">checkout</div>
		</div>
	</div>
	<form class="container c-ctn" asp-action="checkout" id="checkoutform" method="post">
		<div class="row">
			<div class="col-6 bl-dt-ct">
				<div class="bl-dt">
					billing details
				</div>
				<label for="name">name</label>
				<input type="text" id="name" name="name" required>
				<label for="address">địa chỉ</label>
				<input type="text" name="address" id="address">
				<label for="phone">số điện thoại</label>
				<input type="text" id="phone" name="phone" require>
				<label for="email">email</label>
				<input type="text" id="email" name="email" required>
				<label for="citizenid">căn cước công dân</label>
				<input type="text" id="citizenid" value="" name="citizenid" require>
				<input type="text" value="@Model.Item1.Id" name="roomid" hidden>
				<input type="text" value="@Model.Item2" name="checkin" hidden>
				<input type="text" value="@Model.Item3" name="checkout" hidden>
				<input type="text" value="@Model.Item4" name="quantity" hidden>

			</div>

			@{

				<div class="col-6 bl-co-ct">
					<div class="row">
						<div class="bl-dt">your order</div>
						<div class="row justify-content-between">
							<div class="dt-l-co">product</div>
							<div class="dt-r-co">	subtotal</div>
						</div>
						<div class="row justify-content-between">
							<div class="dt-l-co">
								<div>
									@Model.Item1.Name
									<strong>
										x @Model.Item4
									</strong>
								</div>
								<div>
									<strong>
										date:@Model.Item2 - @Model.Item3
									</strong>
								</div>
								<div>
									<strong>
										details:
									</strong>
									rooms: @Model.Item4 , Adults: @Model.Item5
								</div>

							</div>
							<div class="dt-r-co">@ViewBag.CalculatedValue</div>
						</div>
						<div class="row justify-content-between">
							<div class="dt-l-co">subtotal</div>
							<div class="dt-r-co"> <strong>@ViewBag.CalculatedValue</strong></div>
						</div>
						<div class="row justify-content-between">
							<div class="dt-l-co">Total</div>
							<div class="dt-r-co"><strong>@ViewBag.CalculatedValue</strong></div>
							<button type="submit" id="submitbutton">
								place order
							</button>
						</div>

					</div>
				</div>
			}
		</div>
	</form>
	<script>
		document.addeventlistener("DOMContentLoaded", function () {
			var form = document.getelementbyid("checkoutform");
			var submitbutton = document.getelementbyid("submitbutton");

			form.addeventlistener("submit", function (event) {
				event.preventdefault();
				if (validatephonenumber(document.getelementbyid("phone").value) == false) {
					alert("số điện thoại không hợp lệ");
					return;
				}
				if (validatecitizenid(document.getelementbyid("citizenid").value) == false) {
					alert("căn cước công dân không hợp lệ");
					return;
				}
				if (validateform()) {
					form.submit();
				}
			});
			function validatecitizenid(citizenid) {
				var regex = /^\d{12}$/;
				return regex.test(citizenid);
			}
			function validatephonenumber(phonenumber) {
				var regex = /^(\+84|0)([2-9]\d{8})$/;
				return regex.test(phonenumber);
			}

			function validateform() {
				var name = document.getelementbyid("name").value;
				var address = document.getelementbyid("address").value;
				var phone = document.getelementbyid("phone").value;
				var email = document.getelementbyid("email").value;
				var citizenid = document.getelementbyid("citizenid").value;
				if (name.trim() === "" || address.trim() === "" || phone.trim() === "" || email.trim() === "" || citizenid.trim() === "") {
					return false;
				}
				return true;
			}
		});
	</script>
</main>
