@model Tuple<Room, List<Room>>

<main>
	<div class="bn-room" style="background-image: url(~/img/bg_3.jpg.webp);">
		<div class="bn-room-content">
			<span><a href="~/index.html">Home></a>Rooms></span>
			<div class="name">
				@Html.DisplayFor(m => m.Item1.Type.Name)
			</div>
		</div>
		<div class="container bk-container" style="background-color: #222222; z-index: 10;">
			<form action="" class="booking-form">
				<div class="row booking-row">
					<div class="col-lg-3 booking-d">
						<span>check in</span><div>
							<i class="fa-solid fa-calendar-days"></i>
							<input type="text" name="" id="" placeholder="date-check-in" pattern="\d{2}/\d{2}/\d{4}" onfocus="this.type='date'" onblur="this.type='text'">
						</div>
					</div>
					<div class="col-lg-3 booking-d">
						<span>check out</span><div>
							<i class="fa-solid fa-calendar-days"></i>
							<input type="text" name="" id="" placeholder="date-check-out    " pattern="\d{2}/\d{2}/\d{4}" onfocus="this.type='date'" onblur="this.type='text'">
						</div>
					</div>
					<div class="col-lg-2 booking-d">
						<span>Room</span>
						<div>
							<select name="" id="room-bk">
								<option value="">Suite Room</option>
								<option value="">Deluxe Room</option>
								<option value="">Family Room</option>
								<option value="">Classic Room</option>
							</select>
						</div>
					</div>
					<div class="col-lg-2 booking-d">
						<span>Guest</span>
						<select name="">
							<option value="">1 Person</option>
							<option value="">2 Person</option>
							<option value="">3 Person</option>
							<option value="">4 Person</option>
							<option value="">5 Person</option>
						</select>
					</div>
					<div class="col-lg-2 booking-d"><a href=""><span>Check</span><span>Availability</span></a></div>
				</div>
			</form>
		</div>
	</div>

	<div class="container room-dt-ctn-a">
		<div class="row  r-dt-l">
			<div class="col-lg-8">
				<div class="ctn-sld-a">
					<div class="sld-s">
						@if (Model != null && Model.Item1 != null && Model.Item1.Roomimgs != null)
						{
							@for (int i = 0; i < Model.Item1.Roomimgs.Count(); i++)
							{
								if (i == 0)
								{
									<input type="radio" checked class="ck" name="radio-btn" id="rdo1" />
								}
								else
								{
									<input type="radio" class="ck" name="radio-btn" id="@Html.DisplayFor(e => i + 1)" />
								}
							}
							@for (int i = 0; i < Model.Item1.Roomimgs.Count(); i++)
							{
								<div class="sld sldf">
									<img src="@Html.DisplayFor(x => Model.Item1.Roomimgs.ElementAt(i).Link)" />
								</div>
							}
						}
					</div>

					<div class="nvg-mn">
						<label for="rdo1"
							   class="mn-bt-nvg"
							   style="background-color: #fff"></label>
						<label for="rdo2" class="mn-bt-nvg"></label>
						<label for="rdo3" class="mn-bt-nvg"></label>
						<label for="rdo4" class="mn-bt-nvg"></label>
						<label for="rdo5" class="mn-bt-nvg"></label>
						<label for="rdo6" class="mn-bt-nvg"></label>
						<label for="rdo7" class="mn-bt-nvg"></label>


					</div>
				</div>
				<div class="r-ct-dt">
					<div class="r-n-dt">
						@Html.DisplayFor(m => m.Item1.Type.Name)
					</div>
					<div class="r-de-dt">@Html.DisplayFor(m => m.Item1.Type.Des)</div>
				</div>
				<div class="r-ft-dt">
					<div class="r-ft-dt-c">
						<div class="r-ft-dt-c-c">
							<span>Max:</span> 3 Persons
						</div>
						<div class="r-ft-dt-c-c">
							<span>View:</span> Sea View
						</div>
					</div>
					<div class="r-ft-dt-c">
						<div class="r-ft-dt-c-c">
							<span>Side:</span> 45 m2
						</div>
						<div class="r-ft-dt-c-c">
							<span>Bed:</span> 1
						</div>
					</div>
				</div>
				<div class="rv-rt-r-dt">
					<div class="rv-rt-n">
						Review & Ratings
					</div>
					<div class="rv-rt-dt-r">
						<input class="form-check-input ck-ip-rt" type="checkbox" value="" id="flexCheckDefault">
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<div class="nb-rt">
							10000+
						</div>
					</div>
					<div class="rv-rt-dt-r">
						<input class="form-check-input ck-ip-rt" type="checkbox" value="" id="flexCheckDefault">
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<div class="nb-rt">
							6000+
						</div>
					</div>
					<div class="rv-rt-dt-r">
						<input class="form-check-input ck-ip-rt" type="checkbox" value="" id="flexCheckDefault">
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<div class="nb-rt">
							0
						</div>
					</div>
					<div class="rv-rt-dt-r">
						<input class="form-check-input ck-ip-rt" type="checkbox" value="" id="flexCheckDefault">
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<div class="nb-rt">
							0
						</div>
					</div>
					<div class="rv-rt-dt-r">
						<input class="form-check-input ck-ip-rt" type="checkbox" value="" id="flexCheckDefault">
						<svg fill="#C5A880" width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon">
							<path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<div class="nb-rt">
							0
						</div>
					</div>
					<div class="rv-rt-dt-r">
						<input class="form-check-input ck-ip-rt" type="checkbox" value="" id="flexCheckDefault">
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<svg width="18px" height="18px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="#C5A880" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						<div class="nb-rt">
							0
						</div>
					</div>
					<div class="rlt-r">
						<div class="rlt-r-n">
							Related Rooms
						</div>
						<div class="rlt-r-r row">
							@if (Model != null && Model.Item1 != null && Model.Item1.Roomimgs != null)
							{

								@for (int i = 0; i < Model.Item2.Count(); i++)
								{
									if ((i % 2) != 1)
									{
										<div class="col-lg-6">
											<div class="container-card-room hide-card">
												<div class="card-bd-d">
													<div class="content-card">
														<div class="name-card">
															@Html.DisplayFor(modelItem => Model.Item2.ElementAt(i).Type.Name)
														</div>
														<div class="des-card">
															<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
														</div>
														<div class="st-card">
															<p>
																<span>$@Html.DisplayFor(modelItem => Model.Item2.ElementAt(i).Type.Price)/Night</span>
																@Html.ActionLink("BOOK NOW", "Detail", new { id = Model.Item2.ElementAt(i).Id })
															</p>
														</div>
													</div>
													<a href="">
														<div class="img-room" style="background-image: url(@Html.DisplayFor(modelItem => Model.Item2.ElementAt(i).Roomimgs.FirstOrDefault().Link));">
														</div>
													</a>
												</div>
											</div>
										</div>
									}
									else
									{
										<div class="col-lg-6">
											<div class="container-card-room hide-card">
												<div class="card-bd-d">
													<a href="">
														<div class="img-room" style="background-image: url(@Html.DisplayFor(modelItem => Model.Item2.ElementAt(i).Roomimgs.FirstOrDefault().Link));">
														</div>
													</a>
													<div class="content-card">
														<div class="name-card">
															@Html.DisplayFor(modelItem => Model.Item2.ElementAt(i).Type.Name)
														</div>
														<div class="des-card">
															<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
														</div>
														<div class="st-card">
															<p>
																<span>$@Html.DisplayFor(modelItem => Model.Item2.ElementAt(i).Type.Price)/Night</span>
																@Html.ActionLink("BOOK NOW", "Detail", new { id = Model.Item2.ElementAt(i).Id })
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									}
								}
							}

						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row justify-content-center align-items-center g-2">
					<div class="n-r-ht">
						Welcome to my Hotel
					</div>
					<svg class="svg-ht" width="68" height="66" viewBox="0 0 68 66" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g id="art">
							<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="68" height="66">
								<rect id="mask" width="68" height="66" fill="#C4C4C4" />
							</mask>
							<g mask="url(#mask0)">
								<g id="composition">
									<rect id="background" x="2" y="2" width="64" height="64" fill="#D4BEA0" />
									<g id="cloud_left">
										<path id="cloud_left_2" d="M8 30C8 30.0422 7.99951 30.0844 7.99866 30.1264C8.31873 30.0439 8.65417 30 9 30C11.2091 30 13 31.7909 13 34C13 36.2091 11.2091 38 9 38H-4.5C-6.98523 38 -9 35.9853 -9 33.5C-9 31.0147 -6.98523 29 -4.5 29C-4.30457 29 -4.11194 29.0125 -3.9231 29.0367C-3.46216 26.1809 -0.98584 24 2 24C5.31372 24 8 26.6863 8 30Z" fill="#F1FAEE" />
									</g>
									<g id="cloud_right">
										<path id="cloud_right_2" d="M77 10C77 10.0422 76.9995 10.0844 76.9987 10.1264C77.3187 10.0439 77.6542 10 78 10C80.2091 10 82 11.7909 82 14C82 16.2091 80.2091 18 78 18H64.5C62.0148 18 60 15.9853 60 13.5C60 11.0147 62.0148 9 64.5 9C64.6954 9 64.8881 9.01248 65.0769 9.03665C65.5378 6.18091 68.0142 4 71 4C74.3137 4 77 6.68628 77 10Z" fill="#F1FAEE" />
									</g>
									<g id="building_top">
										<path id="Rectangle 425" d="M16 17H52V47H16V17Z" fill="#F1FAEE" />
										<path id="Rectangle 425 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M15 17C15 16.4477 15.4477 16 16 16H52C52.5523 16 53 16.4477 53 17V47C53 47.5523 52.5523 48 52 48H16C15.4477 48 15 47.5523 15 47V17ZM17 18V46H51V18H17Z" fill="#665641" />
										<path id="Rectangle 426" d="M14 13H54V17H14V13Z" fill="#C5A880" />
										<path id="Rectangle 426 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M13 13C13 12.4477 13.4477 12 14 12H54C54.5523 12 55 12.4477 55 13V17C55 17.5523 54.5523 18 54 18H14C13.4477 18 13 17.5523 13 17V13ZM15 14V16H53V14H15Z" fill="#665641" />
									</g>
									<g id="balcony_01">
										<path id="Rectangle 427" d="M20 21H26V27H20V21Z" fill="#F1FAEE" />
										<path id="Rectangle 427 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M19 21C19 20.4477 19.4477 20 20 20H26C26.5523 20 27 20.4477 27 21V27C27 27.5523 26.5523 28 26 28H20C19.4477 28 19 27.5523 19 27V21ZM21 22V26H25V22H21Z" fill="#665641" />
										<path id="Rectangle 428" d="M19 27H27V30H19V27Z" fill="#C5A880" />
										<path id="Rectangle 428 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M18 27C18 26.4477 18.4477 26 19 26H27C27.5523 26 28 26.4477 28 27V30C28 30.5523 27.5523 31 27 31H19C18.4477 31 18 30.5523 18 30V27ZM20 28V29H26V28H20Z" fill="#665641" />
									</g>
									<g id="balcony_04">
										<path id="Rectangle 433" d="M20 34H26V40H20V34Z" fill="#F1FAEE" />
										<path id="Rectangle 433 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M19 34C19 33.4477 19.4477 33 20 33H26C26.5523 33 27 33.4477 27 34V40C27 40.5523 26.5523 41 26 41H20C19.4477 41 19 40.5523 19 40V34ZM21 35V39H25V35H21Z" fill="#665641" />
										<path id="Rectangle 436" d="M19 40H27V43H19V40Z" fill="#C5A880" />
										<path id="Rectangle 436 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M18 40C18 39.4477 18.4477 39 19 39H27C27.5523 39 28 39.4477 28 40V43C28 43.5523 27.5523 44 27 44H19C18.4477 44 18 43.5523 18 43V40ZM20 41V42H26V41H20Z" fill="#665641" />
									</g>
									<g id="balcony_02">
										<path id="Rectangle 429" d="M31 21H37V27H31V21Z" fill="#F1FAEE" />
										<path id="Rectangle 429 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M30 21C30 20.4477 30.4477 20 31 20H37C37.5523 20 38 20.4477 38 21V27C38 27.5523 37.5523 28 37 28H31C30.4477 28 30 27.5523 30 27V21ZM32 22V26H36V22H32Z" fill="#665641" />
										<path id="Rectangle 430" d="M30 27H38V30H30V27Z" fill="#C5A880" />
										<path id="Rectangle 430 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M29 27C29 26.4477 29.4477 26 30 26H38C38.5523 26 39 26.4477 39 27V30C39 30.5523 38.5523 31 38 31H30C29.4477 31 29 30.5523 29 30V27ZM31 28V29H37V28H31Z" fill="#665641" />
									</g>
									<g id="balcony_05">
										<path id="Rectangle 440" d="M31 34H37V40H31V34Z" fill="#F1FAEE" />
										<path id="Rectangle 440 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M30 34C30 33.4477 30.4477 33 31 33H37C37.5523 33 38 33.4477 38 34V40C38 40.5523 37.5523 41 37 41H31C30.4477 41 30 40.5523 30 40V34ZM32 35V39H36V35H32Z" fill="#665641" />
										<path id="Rectangle 437" d="M30 40H38V43H30V40Z" fill="#C5A880" />
										<path id="Rectangle 437 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M29 40C29 39.4477 29.4477 39 30 39H38C38.5523 39 39 39.4477 39 40V43C39 43.5523 38.5523 44 38 44H30C29.4477 44 29 43.5523 29 43V40ZM31 41V42H37V41H31Z" fill="#665641" />
									</g>
									<g id="balcony_03">
										<path id="Rectangle 431" d="M42 21H48V27H42V21Z" fill="#F1FAEE" />
										<path id="Rectangle 431 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M41 21C41 20.4477 41.4477 20 42 20H48C48.5523 20 49 20.4477 49 21V27C49 27.5523 48.5523 28 48 28H42C41.4477 28 41 27.5523 41 27V21ZM43 22V26H47V22H43Z" fill="#665641" />
										<path id="Rectangle 432" d="M41 27H49V30H41V27Z" fill="#C5A880" />
										<path id="Rectangle 432 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M40 27C40 26.4477 40.4477 26 41 26H49C49.5523 26 50 26.4477 50 27V30C50 30.5523 49.5523 31 49 31H41C40.4477 31 40 30.5523 40 30V27ZM42 28V29H48V28H42Z" fill="#665641" />
									</g>
									<g id="balcony_06">
										<path id="Rectangle 435" d="M42 34H48V40H42V34Z" fill="#F1FAEE" />
										<path id="Rectangle 435 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M41 34C41 33.4477 41.4477 33 42 33H48C48.5523 33 49 33.4477 49 34V40C49 40.5523 48.5523 41 48 41H42C41.4477 41 41 40.5523 41 40V34ZM43 35V39H47V35H43Z" fill="#665641" />
										<path id="Rectangle 438" d="M41 40H49V43H41V40Z" fill="#C5A880" />
										<path id="Rectangle 438 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M40 40C40 39.4477 40.4477 39 41 39H49C49.5523 39 50 39.4477 50 40V43C50 43.5523 49.5523 44 49 44H41C40.4477 44 40 43.5523 40 43V40ZM42 41V42H48V41H42Z" fill="#665641" />
									</g>
									<g id="big_tree">
										<path id="Rectangle 443" d="M56 42C56 39.7909 57.7909 38 60 38C62.2091 38 64 39.7909 64 42V54C64 56.2091 62.2091 58 60 58C57.7909 58 56 56.2091 56 54V42Z" fill="#C5A880" />
										<path id="Rectangle 443 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M55 42C55 39.2386 57.2386 37 60 37C62.7614 37 65 39.2386 65 42V54C65 56.7614 62.7614 59 60 59C57.2386 59 55 56.7614 55 54V42ZM60 39C58.3431 39 57 40.3431 57 42V54C57 55.6569 58.3431 57 60 57C61.6569 57 63 55.6569 63 54V42C63 40.3431 61.6569 39 60 39Z" fill="#665641" />
										<path id="Line 95 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M60 48C60.5523 48 61 48.4477 61 49L61 64C61 64.5523 60.5523 65 60 65C59.4477 65 59 64.5523 59 64L59 49C59 48.4477 59.4477 48 60 48Z" fill="#665641" />
									</g>
									<g id="small_tree">
										<path id="Rectangle 444" d="M4 48C4 45.7909 5.79086 44 8 44V44C10.2091 44 12 45.7909 12 48V54C12 56.2091 10.2091 58 8 58V58C5.79086 58 4 56.2091 4 54V48Z" fill="#C5A880" />
										<path id="Rectangle 444 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M3 48C3 45.2386 5.23858 43 8 43C10.7614 43 13 45.2386 13 48V54C13 56.7614 10.7614 59 8 59C5.23858 59 3 56.7614 3 54V48ZM8 45C6.34315 45 5 46.3431 5 48V54C5 55.6569 6.34315 57 8 57C9.65685 57 11 55.6569 11 54V48C11 46.3431 9.65685 45 8 45Z" fill="#665641" />
										<path id="Line 96 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M8 51C8.55228 51 9 51.4477 9 52L9 64C9 64.5523 8.55228 65 8 65C7.44771 65 7 64.5523 7 64L7 52C7 51.4477 7.44772 51 8 51Z" fill="#665641" />
									</g>
									<g id="building_bottom">
										<path id="Rectangle 423" d="M15 47H53V51H15V47Z" fill="#C5A880" />
										<path id="Rectangle 423 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M14 47C14 46.4477 14.4477 46 15 46H53C53.5523 46 54 46.4477 54 47V51C54 51.5523 53.5523 52 53 52H15C14.4477 52 14 51.5523 14 51V47ZM16 48V50H52V48H16Z" fill="#665641" />
										<path id="Rectangle 424" d="M16 51H52V65H16V51Z" fill="#F1FAEE" />
										<path id="Rectangle 424 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M15 51C15 50.4477 15.4477 50 16 50H52C52.5523 50 53 50.4477 53 51V65C53 65.5523 52.5523 66 52 66H16C15.4477 66 15 65.5523 15 65V51ZM17 52V64H51V52H17Z" fill="#665641" />
									</g>
									<g id="window_01">
										<path id="window 01" d="M20 55H24V61H20V55Z" fill="#F1FAEE" />
										<path id="window 01 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M19 55C19 54.4477 19.4477 54 20 54H24C24.5523 54 25 54.4477 25 55V61C25 61.5523 24.5523 62 24 62H20C19.4477 62 19 61.5523 19 61V55ZM21 56V60H23V56H21Z" fill="#665641" />
									</g>
									<g id="window_02">
										<path id="window 02" d="M44 55H48V61H44V55Z" fill="#F1FAEE" />
										<path id="window 02 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M43 55C43 54.4477 43.4477 54 44 54H48C48.5523 54 49 54.4477 49 55V61C49 61.5523 48.5523 62 48 62H44C43.4477 62 43 61.5523 43 61V55ZM45 56V60H47V56H45Z" fill="#665641" />
									</g>
									<g id="door">
										<path id="Rectangle 434" d="M28 55H34V65H28V55Z" fill="#F1FAEE" />
										<path id="Rectangle 434 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M27 55C27 54.4477 27.4477 54 28 54H34C34.5523 54 35 54.4477 35 55V65C35 65.5523 34.5523 66 34 66H28C27.4477 66 27 65.5523 27 65V55ZM29 56V64H33V56H29Z" fill="#665641" />
										<path id="Rectangle 439" d="M34 55H40V65H34V55Z" fill="#F1FAEE" />
										<path id="Rectangle 439 (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M33 55C33 54.4477 33.4477 54 34 54H40C40.5523 54 41 54.4477 41 55V65C41 65.5523 40.5523 66 40 66H34C33.4477 66 33 65.5523 33 65V55ZM35 56V64H39V56H35Z" fill="#665641" />
									</g>
									<rect id="frame" x="1" y="1" width="66" height="64" stroke="#665641" stroke-width="2" stroke-linejoin="round" />
								</g>
							</g>
						</g>
					</svg>
				</div>
				<div class="row ctn-r-dt">
					<div class="n-r-dt">
						Hotel Services
					</div>
					<div class="sv-dt-r-d">
						<div class="sv-dt-r-d-c">
							Free wifi
						</div>
						<div class="sv-dt-r-d-c">
							Beauty & Health
						</div>
					</div>
					<div class="sv-dt-r-d">
						<div class="sv-dt-r-d-c">
							Easy booking
						</div>
						<div class="sv-dt-r-d-c">
							60" flatscreen Tv
						</div>
					</div>
					<div class="sv-dt-r-d">
						<div class="sv-dt-r-d-c">
							restaurent
						</div>
						<div class="sv-dt-r-d-c">
							cold aircondition
						</div>
					</div>
					<div class="sv-dt-r-d">
						<div class="sv-dt-r-d-c">
							SWIMMING POOL
						</div>
						<div class="sv-dt-r-d-c">
							SWIMMING POOL
						</div>
					</div>
					<div class="bk-ctn row">
						<div class="rsv-n">
							<div class="rsv-n-l">
								RESERVE:
							</div>
							<div class="pri-r">
								<label>
									From <strong> $@Html.DisplayFor(m => m.Item1.Type.Price)</strong>/night
								</label>
							</div>
						</div>
						<input type="text">
						<input type="text">
						<input type="text">
						<input type="text">
					</div>
					<div class="cost-tt row">
						<div class="cost-tt-n">
							<div class="cost-tt-n-l">Total Cost:</div>
							<div class="pr-r">$@Html.DisplayFor(m => m.Item1.Type.Price)</div>
						</div>
						<button class="bk-y-st">
							Book your stay now
						</button>
					</div>
					<div class="n-r-dt">
						Loyal Customers
					</div>
				</div>
				<div class="row justify-content-center align-items-center g-2">
					<div class="box">
						<div class="card">
							<div class="imgBx">
								<img src="~/img/vst2.webp" alt="images">
							</div>
							<div class="details">
								<h2>Son Tung MTP<br><span>singer</span></h2>
							</div>
						</div>

						<div class="card">
							<div class="imgBx">
								<img src="~/img/vst1.jpg" alt="images">
							</div>
							<div class="details">
								<h2>Chi Pu<br><span>singer</span></h2>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>