@model Webhotel.Models.VMRooms;
@{
	ViewData["Title"] = "Rooms";
}
@if (TempData["Message"] != null)
{
	<script>
		alert("@TempData["Message"]");
	</script>
}

<main>
	<div class="bn-room bn-r-ra">
		<div class="bn-room-content">
			<span><a asp-controller="home" asp-action="index">Home></a>Rooms></span>
			<div class="name">Cozzy Rooms</div>
		</div>
		<div class="container bk-container" style="background-color: #222222; z-index: 10;">
			<form asp-action="Check" class="booking-form" method="POST">
				<div class="row booking-row">
					<div class="col-lg-3 booking-d">
						<span>check in</span><div>
							<i class="fa-solid fa-calendar-days"></i>
							<input type="date" name="ci" id="ci" placeholder="date-check-in" required pattern="\d{2}/\d{2}/\d{4}" value="">
							<script>
								document.addEventListener("DOMContentLoaded", function () {
									flatpickr("#ci", { minDate: "today" });

									const co = document.getElementById("co");


									co.onclick = function (event) {
										if (!ci.value) {
											console.log(1);
											ci.click();
											return;
										}
									};

									const ci = document.getElementById("ci");
									ci.addEventListener("change", function () {
										let min = ci.value;
										if (min) {
											co.type = 'date';
											co.readOnly = false;
											let minDate = new Date(min);
											flatpickr("#co", { minDate: minDate });

											if (min > co.value) {
												co.value = null;
												co.type = 'text';
											}
										}
									});
								});

							</script>
						</div>
					</div>
					<div class="col-lg-3 booking-d">
						<span>check out</span><div>
							<i class="fa-solid fa-calendar-days"></i>
							<input type="text" readonly name="co" id="co" placeholder="date-check-out" required pattern="\d{2}/\d{2}/\d{4}">
						</div>
					</div>
					<div class="col-lg-2 booking-d">
						<span>Room</span>
						<div>
							<select name="t" id="room-bk">
								<option value="">Room Type</option>
								@if (Model != null)
								{
									@for (int i = 0; i < Model.RoomTypename.Count(); i++)
									{
										<option value="@Model.RoomTypename.ElementAt(i).Id">@Html.DisplayFor(e => Model.RoomTypename.ElementAt(i).Name)</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="col-lg-2 booking-d">
						<span>Quantity</span>
						<input name="quantity" placeholder="Quantity" type="number" />
					</div>
					<div class="col-lg-2 booking-d">
						<button type="submit" style="background: none; display: flex; flex-direction: column; justify-align: center; color: white; border: none; font-size: 22px; font-family: 'Old Standard TT, serif';">
							<span style="text-align:center; width: 100%">Check</span><span style="text-align:center; width: 100%">Availability</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="container ctn-room-list">
		<div class="row">
			@if (!Model.check)
			{
				@for (int i = 0; i < Model.RoomTypes.Count(); i++)
				{
					if ((i % 2) != 1)
					{
						<div class="col-lg-4">
							<div class="container-card-room hide-card">
								<div class="card-bd-d">
									<div class="content-card">
										<div class="name-card">
											@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Name)
										</div>
										<div class="des-card">
											<p>@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Sumary)</p>
										</div>
										<div class="st-card">
											<p>
												<span>$@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Price)/Night</span>
												@Html.ActionLink("BOOK NOW", "Detail", new { id = Model.RoomTypes.ElementAt(i).Id })
											</p>
										</div>
									</div>
									<a href="">
										<div class="img-room" style="background-image: url(@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Roomimgs.FirstOrDefault().Link));">
										</div>
									</a>
								</div>
							</div>
						</div>
					}
					else
					{
						<div class="col-lg-4">
							<div class="container-card-room hide-card">
								<div class="card-bd-d">
									<a href="">
										<div class="img-room" style="background-image: url(@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Roomimgs.FirstOrDefault().Link));">
										</div>
									</a>
									<div class="content-card">
										<div class="name-card">
											@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Name)
										</div>
										<div class="des-card">
											<p>@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Sumary)</p>
										</div>
										<div class="st-card">
											<p>
												<span>$@Html.DisplayFor(modelItem => Model.RoomTypes.ElementAt(i).Price)/Night</span>
												@Html.ActionLink("BOOK NOW", "Detail", new { id = Model.RoomTypes.ElementAt(i).Id })
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
			}
		</div>
	</div>
</main>