@model IEnumerable<webhotel.Models.Roomtype>

@{
    ViewData["Title"] = "Home";
}


<div class="container-bn">
    <div class="bn-slide" id="bn-slide">
        <div class="bn-item" style="background-image: url(/img/p2.jpg)">
            <div class="content-bn">
                <div class="name-bn">
                    Spa Sanctuary
                </div>
                <div class="des-bn">
                    Indulge in self-care with our rejuvenating spa packages. Every touch reflects our commitment to refined luxury, offering a haven of relaxation within the heart of the city.
                </div>
                <button>See more</button>
            </div>
        </div>
        <div class="bn-item" style="background-image: url(/img/a2.jpg)">
            <div class="content-bn">
                <div class="name-bn">
                    Excellence in Every Detail
                </div>
                <div class="des-bn">
                    For business or pleasure, Ciao Hotel sets the stage for excellence. Our state-of-the-art event spaces redefine sophistication, blending professionalism with the luxury you deserve.
                </div>
                <button>See more</button>
            </div>
        </div>
        <div class="bn-item" style="background-image: url(/img/a3.jpg)">
            <div class="content-bn">
                <div class="name-bn">
                    Family Bliss Awaits
                </div>
                <div class="des-bn">
                    Craft cherished memories with your loved ones in our spacious accommodations. Special family discounts ensure everyone enjoys the luxury and comfort of Ciao Hotel.
                </div>
                <button>See more</button>
            </div>
        </div>
        <div class="bn-item" style="background-image: url(/img/a4.jpg)">
            <div class="content-bn">
                <div class="name-bn">
                    Exclusive Offers, Exceptional Experiences
                </div>
                <div class="des-bn">
                    Elevate your stay with our exclusive offers—bespoke amenities, discounted rates, and personalized service that transform each moment into an extraordinary memory.
                </div>
                <button>See more</button>
            </div>
        </div>
        <div class="bn-item" style="background-image: url(/img/a5.jpg)">
            <div class="content-bn">
                <div class="name-bn">
                    Luxury Redefined
                </div>
                <div class="des-bn">
                    Experience the epitome of modern elegance in our thoughtfully designed rooms, offering panoramic views and a sanctuary for relaxation. Ciao Hotel isn't just accommodation; it's an immersive journey into opulence.
                </div>
                <button>See more</button>
            </div>
        </div>
        <div class="bn-item" style="background-image: url(/img/a7.jpg)">
            <div class="content-bn">
                <div class="name-bn">
                    Indulge in an unforgettable vacation at Ciao Hotel
                </div>
                <div class="des-bn">
                    the perfect destination for a blend of luxury and comfort. With
                    its prime location, we place you right in the heart of
                    excitement, just steps away from the beach and top attractions.
                </div>
                <button>See more</button>
            </div>
        </div>
    </div>
    <div class="buttons-bn">
        <button id="prev-bn"><i class="fa-solid fa-chevron-left"></i></button>
        <button id="next-bn">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
</div>

<div class="container bn-ab">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-lg-3">
            <div class="card-ab hide-ab cd-csr-y">
                <div class="img-ab"
                     style="background-image: url(./img/a2.jpg)"></div>
                <div class="n"></div>
                <div class="card-ab-content">
                    <div class="card-ab-icon">
                        <svg width="100%"
                             height="100%"
                             viewBox="-3.2 -3.2 38.40 38.40"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier"
                               stroke-linecap="round"
                               stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                                <g id="a" />
                                <g id="b">
                                    <path d="M4,16H28c1.1038,0,2,.8962,2,2v6H2v-6c0-1.1038,.8962-2,2-2Z"
                                          style="fill: transparent" />
                                    <path d="M29,15.1843v-7.1843c0-.5522-.4478-1-1-1s-1,.4478-1,1v.4077c-1.4613-.0586-4.3058-.3774-6.25-1.9053-2.0122-1.582-4.6729-1.5063-4.7153-1.5049-.1152-.0024-2.772-.0771-4.7847,1.5049-1.9445,1.5285-4.7888,1.848-6.25,1.9062v-.4087c0-.5522-.4478-1-1-1s-1,.4478-1,1v7.1843c-1.1615,.4141-2,1.5138-2,2.8157v6c0,.5522,.4478,1,1,1h1v1c0,.5522,.4478,1,1,1s1-.4478,1-1v-1H27v1c0,.5522,.4478,1,1,1s1-.4478,1-1v-1h1c.5522,0,1-.4478,1-1v-6c0-1.3019-.8385-2.4016-2-2.8157ZM12.4863,8.0747c1.4272-1.1221,3.459-1.0796,3.5449-1.0781,.0161-.0024,2.0542-.0444,3.4824,1.0781,2.4308,1.9103,5.7956,2.2799,7.4863,2.3378v4.5875h-2v-1c0-1.103-.897-2-2-2h-4c-1.103,0-2,.897-2,2v1h-2v-1c0-1.103-.897-2-2-2h-4c-1.103,0-2,.897-2,2v1h-2v-4.5881c1.6905-.0578,5.0556-.4264,7.4863-2.3372Zm10.5137,6.9253h-4v-1h4v1Zm-10,0h-4v-1h4v1Zm16,8H3v-5c0-.5513,.4487-1,1-1H28c.5513,0,1,.4487,1,1v5Z"
                                          style="fill: #c5a880" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="card-ab-name">Cozy Room</div>
                    <div class="card-ab-des">
                        Ciao Hotel rooms: Elegance redefined, modern comforts, panoramic views; your sanctuary of style and relaxation.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-ab hide-ab cd-csr-y">
                <div class="card-ab-content">
                    <div class="card-ab-icon">
                        <svg fill="#C5A880"
                             height="100%"
                             width="100%"
                             version="1.1"
                             id="Capa_1"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 511.249 511.249"
                             xml:space="preserve">
                        <g>
                        <path d="M255.734,216.125c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5c0.276,0,0.5,0.224,0.5,0.5c0,4.142,3.358,7.5,7.5,7.5
                                   s7.5-3.358,7.5-7.5C271.234,223.078,264.281,216.125,255.734,216.125z" />
                        <path d="M510.992,231.033c-0.309-3.9-3.564-6.908-7.477-6.908h-0.398c-0.412-12.762-2.157-27.388-8.406-43.249
                                   c-1.197-3.039-4.22-4.958-7.481-4.734c-153.609,10.331-309.384,10.331-462.993,0c-3.439-0.245-6.584,1.905-7.641,5.18
                                   c-4.625,14.336-7.398,28.98-8.148,42.803H7.734c-3.912,0-7.167,3.007-7.477,6.907c-0.143,1.798-3.26,44.447,16.712,83.834
                                   c0.012,0.024,0.024,0.047,0.036,0.071c0.015,0.03,0.029,0.059,0.044,0.089c0.012,0.024,0.029,0.044,0.041,0.068
                                   c0.137,0.263,0.29,0.516,0.457,0.759c0.032,0.047,0.063,0.096,0.096,0.143c0.177,0.245,0.367,0.479,0.571,0.701
                                   c0.057,0.062,0.117,0.12,0.176,0.18c0.165,0.167,0.336,0.327,0.516,0.478c0.061,0.052,0.12,0.106,0.183,0.156
                                   c0.229,0.181,0.468,0.347,0.717,0.5c0.06,0.037,0.121,0.069,0.182,0.104c0.221,0.128,0.449,0.245,0.684,0.35
                                   c0.051,0.023,0.1,0.048,0.151,0.069c0.284,0.12,0.576,0.224,0.876,0.308c0.035,0.01,0.07,0.016,0.105,0.026
                                   c0.261,0.069,0.527,0.123,0.797,0.165c0.071,0.011,0.142,0.022,0.213,0.031c0.298,0.036,0.6,0.062,0.907,0.062
                                   c0.006,0,0.011,0.001,0.017,0.001c0.021,0,0.041-0.003,0.061-0.004c0.145-0.001,0.29-0.005,0.436-0.015
                                   c58.255-3.918,117.327-6.36,175.776-7.307l-0.293,0.708c-1.161,2.803-0.519,6.028,1.626,8.173c2.146,2.146,5.373,2.788,8.173,1.626
                                   l13.976-5.789l5.789,13.976c1.161,2.803,3.896,4.63,6.929,4.63c3.034,0,5.768-1.827,6.929-4.63l7.935-19.156
                                   c2.742-0.003,5.485-0.002,8.228,0l7.935,19.156c1.161,2.803,3.896,4.63,6.929,4.63c3.034,0,5.768-1.827,6.929-4.63l5.789-13.976
                                   l13.976,5.789c2.804,1.162,6.029,0.519,8.173-1.626c2.145-2.145,2.787-5.371,1.626-8.173l-0.301-0.725
                                   c58.612,0.931,117.858,3.368,176.287,7.288c0.298,0.036,0.596,0.056,0.893,0.056c0.025,0,0.051-0.005,0.076-0.005
                                   c0.041,0.001,0.082,0.004,0.122,0.004c3.447,0,6.414-2.358,7.253-5.628C514.173,274.499,511.133,232.811,510.992,231.033z
                                    M488.108,224.125H302.637c-1.559-9.783-6.119-18.573-12.699-25.41c64.382-0.631,128.71-3.038,192.672-7.233
                                   C486.502,203.202,487.755,214.242,488.108,224.125z M255.734,264.125c-17.92,0-32.5-14.58-32.5-32.5s14.58-32.5,32.5-32.5
                                   s32.5,14.58,32.5,32.5S273.655,264.125,255.734,264.125z M29.179,191.503c63.857,4.183,128.078,6.582,192.353,7.212
                                   c-6.58,6.836-11.14,15.626-12.699,25.41H23.487C24.121,213.601,26.036,202.53,29.179,191.503z M28.299,303.819
                                   c-11.675-25.508-13.249-52.374-13.269-64.694h193.802c1.451,9.106,5.501,17.352,11.36,23.963l-13.921,33.608
                                   C147.142,297.542,87.326,299.937,28.299,303.819z M234.485,303.85c-1.585-3.827-5.973-5.643-9.799-4.059l-4.177,1.73l11.838-28.579
                                   c4.052,2.303,8.472,4.027,13.151,5.059l1.577,3.807l-10.86,26.218L234.485,303.85z M285.699,299.791
                                   c-3.828-1.584-8.214,0.232-9.799,4.059l-1.73,4.177l-10.86-26.218l1.474-3.559c4.779-0.926,9.306-2.563,13.46-4.809l11.631,28.08
                                   L285.699,299.791z M290.533,263.91c6.261-6.743,10.592-15.298,12.103-24.785H496.23c-0.005,12.298-1.555,39.098-13.244,64.682
                                   c-59.331-3.899-119.457-6.298-178.88-7.129L290.533,263.91z" />
                    </g>
                  </svg>
                    </div>
                    <div class="card-ab-name">Special Offers</div>
                    <div class="card-ab-des">
                        Discover luxury for less with Ciao Hotel's exclusive special offers. Book now!
                    </div>
                </div>
                <div class="n"></div>
                <div class="img-ab"
                     style="background-image: url(./img/a2.jpg)"></div>
            </div>
        </div>
        <div class="col-lg-6 bn-ab-dt hide-ab cd-csr-y">
            <div class="bn-ab-head">ABOUT US</div>
            <div class="bn-ab-name">Ciao A Hotel Booking Agency</div>
            <div class="bn-ab-des">
                At Ciao Hotel, we redefine the art of hospitality, offering a sublime blend of luxury, comfort, and personalized service. Nestled in the heart of Quy Nhon City, our hotel is a haven for those seeking a unique and memorable stay.
            </div>
            <div class="bn-ab-btn">
                @Html.ActionLink("BOOK YOUR ROOM NOW", "Index", "Rooms")
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="sv-ctn-bn">
        <div class="row">
            <div class="col sv-bn-hd hide-ab">
                <div class="hd-sv">CIAO SERVICES</div>
                <div class="name-sv">
                    Explore Our Hotel <br />
                    Services
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 hide-ab sv-it">
                    <div class="sv-dt-item">
                        <div class="dt-item-icon">
                            <svg fill="#000000"
                                 height="100%"
                                 width="100%"
                                 version="1.1"
                                 id="Capa_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 455 455"
                                 xml:space="preserve"
                                 transform="rotate(-45)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier"
                               stroke-linecap="round"
                               stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                            <g>
                            <path d="M67.5,320C30.28,320,0,350.28,0,387.5S30.28,455,67.5,455s67.5-30.28,67.5-67.5S104.72,320,67.5,320z M67.5,440 C38.552,440,15,416.449,15,387.5S38.552,335,67.5,335s52.5,23.551,52.5,52.5S96.448,440,67.5,440z" />
                            <path d="M67.5,160C46.822,160,30,176.822,30,197.5S46.822,235,67.5,235c84.089,0,152.5,68.411,152.5,152.5 c0,20.678,16.822,37.5,37.5,37.5s37.5-16.822,37.5-37.5c0-60.768-23.664-117.898-66.633-160.867 C185.397,183.664,128.268,160,67.5,160z M257.5,410c-12.406,0-22.5-10.093-22.5-22.5C235,295.14,159.859,220,67.5,220 C55.094,220,45,209.907,45,197.5S55.094,175,67.5,175c56.761,0,110.124,22.104,150.26,62.24C257.896,277.375,280,330.739,280,387.5 C280,399.907,269.906,410,257.5,410z" />
                            <path d="M424.532,236.656c-19.519-46.148-47.454-87.585-83.028-123.16c-35.576-35.576-77.013-63.511-123.16-83.029 C170.547,10.25,119.796,0,67.5,0C46.822,0,30,16.822,30,37.5S46.822,75,67.5,75C239.813,75,380,215.187,380,387.5 c0,20.678,16.822,37.5,37.5,37.5s37.5-16.822,37.5-37.5C455,335.205,444.749,284.454,424.532,236.656z M417.5,410 c-12.406,0-22.5-10.093-22.5-22.5C395,206.916,248.084,60,67.5,60C55.094,60,45,49.907,45,37.5S55.094,15,67.5,15 c50.277,0,99.063,9.852,145,29.282c44.359,18.762,84.194,45.618,118.396,79.82c34.203,34.202,61.059,74.037,79.821,118.397 c19.43,45.939,29.282,94.724,29.282,145C440,399.907,429.906,410,417.5,410z" />
                        </g>
                      </g>
                    </svg>
                        </div>
                        <div class="dt-item-sv">Free Wifi</div>
                    </div>
                </div>
                <div class="col-lg-2 hide-ab sv-it">
                    <div class="sv-dt-item">
                        <div class="dt-item-icon">
                            <svg width="100%"
                                 height="100%"
                                 viewBox="0 0 1024 1024"
                                 fill="#000000"
                                 class="icon"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier"
                                   stroke-linecap="round"
                                   stroke-linejoin="round" />

                                <g id="SVGRepo_iconCarrier">
                                    <path d="M512.014 751.792c-17.636 0-31.986-14.34-31.986-31.992s14.348-31.994 31.986-31.994c17.638 0 31.996 14.342 31.996 31.994s-14.358 31.992-31.996 31.992z m0-47.988c-8.818 0-15.988 7.186-15.988 15.996s7.17 15.996 15.988 15.996c8.82 0 16-7.186 16-15.996s-7.18-15.996-16-15.996zM360.156 959.782a8.012 8.012 0 0 1-7.82-9.73l31.994-143.97c0.96-4.312 5.288-6.966 9.544-6.078a8.012 8.012 0 0 1 6.076 9.544l-31.994 143.97a7.994 7.994 0 0 1-7.8 6.264zM663.89 959.782a8 8 0 0 1-7.81-6.264l-31.994-143.97a8.012 8.012 0 0 1 6.076-9.544c4.344-0.904 8.594 1.782 9.546 6.078l31.992 143.97a8.01 8.01 0 0 1-7.81 9.73z"
                                          fill="" />

                                    <path d="M687.978 959.782H336.06a7.992 7.992 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h351.918c4.422 0 8 3.578 8 7.998a7.994 7.994 0 0 1-8 7.998zM903.936 672.092H120.104c-4.422 0-8-3.578-8-7.998V311.916a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v344.178h767.834V311.916a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v352.178a7.994 7.994 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M903.936 784.068H120.104c-30.87 0-55.988-25.12-55.988-55.988V311.916a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998V728.08c0 22.056 17.942 39.992 39.992 39.992h783.832c22.056 0 39.99-17.936 39.99-39.992V311.916a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998V728.08c0 30.87-25.122 55.988-55.988 55.988zM951.924 128.206a7.994 7.994 0 0 1-7.998-7.998c0-22.05-17.934-39.992-39.99-39.992H120.104c-22.05 0-39.992 17.942-39.992 39.992a7.994 7.994 0 0 1-7.998 7.998 7.994 7.994 0 0 1-7.998-7.998c0-30.87 25.12-55.988 55.988-55.988h783.832c30.868 0 55.988 25.12 55.988 55.988a7.996 7.996 0 0 1-8 7.998z"
                                          fill="" />

                                    <path d="M903.936 815.812H120.104c-31.392 0-55.988-24.59-55.988-55.988v-31.994a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998v31.994c0 22.432 17.566 39.99 39.992 39.99h783.832c22.432 0 39.99-17.558 39.99-39.99V728.08a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998v31.744c0 31.398-24.59 55.988-55.988 55.988zM360.054 607.98H184.09a7.994 7.994 0 0 1-7.998-8V344.036a7.994 7.994 0 0 1 7.998-7.998h175.962c4.422 0 8 3.576 8 7.998V599.98c0 4.422-3.576 8-7.998 8z m-167.966-15.996h159.966V352.034H192.088v239.95z"
                                          fill="" />

                                    <path d="M312.064 575.986h-79.982c-13.232 0-23.996-10.764-23.996-23.994 0-13.232 10.762-23.996 23.996-23.996h79.982c13.232 0 23.996 10.764 23.996 23.996 0 13.23-10.764 23.994-23.996 23.994z m-79.982-31.994a8.008 8.008 0 0 0-7.998 8 8.008 8.008 0 0 0 7.998 7.998h79.982c4.414 0 8-3.594 8-7.998 0-4.406-3.584-8-8-8h-79.982zM360.054 480.006H184.09a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h175.962c4.422 0 8 3.578 8 7.998a7.992 7.992 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M360.062 480.006a7.96 7.96 0 0 1-6.404-3.202l-41.594-55.45-41.592 55.45a7.974 7.974 0 0 1-11.194 1.602 7.986 7.986 0 0 1-1.602-11.194l47.99-63.986c3.016-4.032 9.78-4.032 12.794 0l47.99 63.986a7.986 7.986 0 0 1-1.6 11.194 7.96 7.96 0 0 1-4.788 1.6z"
                                          fill="" />

                                    <path d="M216.076 480.006a7.982 7.982 0 0 1-4.992-1.748 8.014 8.014 0 0 1-1.25-11.248l31.994-39.992a8.01 8.01 0 0 1 6.248-3 8.02 8.02 0 0 1 6.25 3.008l23.746 29.698a7.994 7.994 0 0 1-1.258 11.24 8.006 8.006 0 0 1-11.24-1.258l-17.496-21.886-25.744 32.19a8.02 8.02 0 0 1-6.258 2.996zM232.082 416.02c-13.232 0-23.996-10.764-23.996-23.994 0-13.232 10.762-23.996 23.996-23.996 13.232 0 23.994 10.764 23.994 23.996 0 13.23-10.764 23.994-23.994 23.994z m0-31.992a8.002 8.002 0 0 0-7.998 7.998 8.004 8.004 0 0 0 7.998 7.998 8.004 8.004 0 0 0 7.998-7.998 8.004 8.004 0 0 0-7.998-7.998zM264.074 512h-47.99a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h47.99a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM328.062 512h-23.996a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h23.996a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM248.078 575.986a7.994 7.994 0 0 1-7.998-7.998v-31.994a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998v31.994a7.992 7.992 0 0 1-7.998 7.998zM599.998 607.98H424.04c-4.42 0-8-3.578-8-8V344.036a7.994 7.994 0 0 1 8-7.998h175.958a7.994 7.994 0 0 1 7.998 7.998V599.98c0 4.422-3.578 8-7.998 8z m-167.958-15.996H592V352.034h-159.96v239.95z"
                                          fill="" />

                                    <path d="M552.008 575.986h-79.976c-13.232 0-23.996-10.764-23.996-23.994 0-13.232 10.764-23.996 23.996-23.996h79.976c13.232 0 23.994 10.764 23.994 23.996 0 13.23-10.762 23.994-23.994 23.994z m-79.976-31.994c-4.414 0-8 3.594-8 8a8.01 8.01 0 0 0 8 7.998h79.976a8.014 8.014 0 0 0 7.998-7.998c0-4.406-3.594-8-7.998-8h-79.976zM599.998 480.006H424.04c-4.42 0-8-3.576-8-7.998a7.994 7.994 0 0 1 8-7.998h175.958a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M599.998 480.006a7.994 7.994 0 0 1-6.406-3.202l-41.584-55.45-41.586 55.45a7.972 7.972 0 0 1-11.192 1.602 7.986 7.986 0 0 1-1.6-11.194l47.976-63.986c3.03-4.032 9.778-4.032 12.808 0l47.99 63.986a8.008 8.008 0 0 1-6.406 12.794z"
                                          fill="" />

                                    <path d="M456.026 480.006a7.982 7.982 0 0 1-4.992-1.748 8.014 8.014 0 0 1-1.25-11.248l31.992-39.992a8.012 8.012 0 0 1 6.25-3 8.02 8.02 0 0 1 6.248 3.008l23.746 29.698a7.996 7.996 0 1 1-12.498 9.982l-17.496-21.886-25.746 32.19a8.006 8.006 0 0 1-6.254 2.996zM472.032 416.02c-13.232 0-23.996-10.764-23.996-23.994 0-13.232 10.764-23.996 23.996-23.996s23.996 10.764 23.996 23.996c-0.002 13.23-10.766 23.994-23.996 23.994z m0-31.992c-4.414 0-8 3.584-8 7.998 0 4.412 3.586 7.998 8 7.998s7.998-3.586 7.998-7.998a8.004 8.004 0 0 0-7.998-7.998zM504.024 512h-47.99a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h47.99a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM568.004 512h-23.994c-4.422 0-8-3.578-8-7.998a7.994 7.994 0 0 1 8-7.998h23.994a7.992 7.992 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM488.028 575.986c-4.422 0-8-3.576-8-7.998v-31.994a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v31.994a7.994 7.994 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M840.134 607.98h-175.962a7.994 7.994 0 0 1-7.998-8V344.036a7.994 7.994 0 0 1 7.998-7.998h175.962c4.422 0 8 3.576 8 7.998V599.98c0 4.422-3.578 8-8 8z m-167.964-15.996h159.966V352.034h-159.966v239.95z"
                                          fill="" />

                                    <path d="M792.146 575.986h-79.984c-13.232 0-23.996-10.764-23.996-23.994 0-13.232 10.764-23.996 23.996-23.996h79.984c13.23 0 23.994 10.764 23.994 23.996 0 13.23-10.764 23.994-23.994 23.994z m-79.984-31.994a8.014 8.014 0 0 0-7.998 8 8.014 8.014 0 0 0 7.998 7.998h79.984a8.014 8.014 0 0 0 7.996-7.998c0-4.406-3.592-8-7.996-8h-79.984zM840.134 480.006h-175.962a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h175.962c4.422 0 8 3.578 8 7.998a7.994 7.994 0 0 1-8 7.998z"
                                          fill="" />

                                    <path d="M840.134 480.006a7.99 7.99 0 0 1-6.404-3.202l-41.584-55.45-41.586 55.45a7.986 7.986 0 0 1-11.202 1.602 8.01 8.01 0 0 1-1.61-11.194l47.99-63.986c3.032-4.032 9.78-4.032 12.81 0l47.99 63.986a8.01 8.01 0 0 1-6.404 12.794z"
                                          fill="" />

                                    <path d="M696.166 480.006a7.984 7.984 0 0 1-5-1.748 8.01 8.01 0 0 1-1.25-11.248l31.994-39.992a7.996 7.996 0 0 1 12.498 0.008l23.744 29.698a8 8 0 0 1-1.25 11.24 7.984 7.984 0 0 1-11.248-1.258l-17.496-21.886-25.744 32.19a8.002 8.002 0 0 1-6.248 2.996zM712.162 416.02c-13.232 0-23.996-10.764-23.996-23.994 0-13.232 10.764-23.996 23.996-23.996 13.23 0 23.994 10.764 23.994 23.996 0 13.23-10.764 23.994-23.994 23.994z m0-31.992a8.008 8.008 0 0 0-7.998 7.998c0 4.412 3.592 7.998 7.998 7.998s7.998-3.586 7.998-7.998a8.008 8.008 0 0 0-7.998-7.998zM744.154 512h-47.988c-4.422 0-8-3.578-8-7.998a7.994 7.994 0 0 1 8-7.998h47.988c4.422 0 8 3.576 8 7.998a7.994 7.994 0 0 1-8 7.998zM808.142 512h-23.996a7.994 7.994 0 0 1-7.998-7.998 7.994 7.994 0 0 1 7.998-7.998h23.996a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.998zM728.158 575.986a7.994 7.994 0 0 1-7.998-7.998v-31.994a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998v31.994a7.992 7.992 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M8.128 223.936a7.996 7.996 0 0 1-5.618-13.692l64.862-63.986a7.994 7.994 0 0 1 5.618-2.304H952.8c2.14 0 4.188 0.86 5.704 2.382l63.112 63.986a8.008 8.008 0 0 1-0.078 11.31c-3.138 3.102-8.186 3.07-11.326-0.078L949.46 159.948H76.27L13.744 221.63a7.954 7.954 0 0 1-5.616 2.306z"
                                          fill="" />

                                    <path d="M32.122 287.922a39.986 39.986 0 0 1-30.088-13.654 8 8 0 0 1 0.758-11.288c3.296-2.904 8.35-2.576 11.288 0.758a23.974 23.974 0 0 0 18.042 8.188c13.232 0 23.996-10.764 23.996-23.996a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c-0.002 22.05-17.944 39.992-39.994 39.992z"
                                          fill="" />

                                    <path d="M96.108 287.922c-22.048 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.994 23.996 13.232 0 23.996-10.764 23.996-23.996a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 22.05-17.94 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M160.096 287.922c-22.05 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.996 23.996s23.996-10.764 23.996-23.996a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c-0.002 22.05-17.942 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M224.084 287.922c-22.05 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.996 23.996 13.23 0 23.994-10.764 23.994-23.996a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998-0.002 22.05-17.944 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M288.07 287.922c-22.05 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998 0 13.232 10.762 23.996 23.996 23.996 13.232 0 23.994-10.764 23.994-23.996 0-4.42 3.578-7.998 8-7.998s8 3.578 8 7.998c-0.004 22.05-17.946 39.992-39.996 39.992z"
                                          fill="" />

                                    <path d="M352.056 287.922c-22.05 0-39.992-17.942-39.992-39.992 0-4.42 3.578-7.998 8-7.998s8 3.578 8 7.998c0 13.232 10.762 23.996 23.994 23.996s23.996-10.764 23.996-23.996a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c-0.004 22.05-17.946 39.992-39.996 39.992z"
                                          fill="" />

                                    <path d="M416.042 287.922c-22.048 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.994 23.996 13.232 0 23.996-10.764 23.996-23.996 0-4.42 3.578-7.998 7.998-7.998s7.998 3.578 7.998 7.998c0 22.05-17.942 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M480.03 287.922c-22.05 0-39.992-17.942-39.992-39.992 0-4.42 3.578-7.998 7.998-7.998s7.998 3.578 7.998 7.998c0 13.232 10.764 23.996 23.996 23.996 13.224 0 23.988-10.764 23.988-23.996a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998-0.002 22.05-17.936 39.992-39.986 39.992z"
                                          fill="" />

                                    <path d="M544.01 287.922c-22.05 0-39.994-17.942-39.994-39.992a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998 0 13.232 10.764 23.996 23.996 23.996 13.23 0 23.994-10.764 23.994-23.996a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998 0 22.05-17.934 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M607.996 287.922c-22.058 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998 0 13.232 10.762 23.996 23.994 23.996s23.994-10.764 23.994-23.996a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c0 22.05-17.936 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M671.982 287.922c-22.058 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.994 23.996 13.232 0 23.996-10.764 23.996-23.996a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 22.05-17.932 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M735.97 287.922c-22.058 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.996 23.996 13.23 0 23.994-10.764 23.994-23.996 0-4.42 3.576-7.998 7.998-7.998s7.998 3.578 7.998 7.998c0 22.05-17.932 39.992-39.99 39.992z"
                                          fill="" />

                                    <path d="M799.956 287.922c-22.056 0-39.99-17.942-39.99-39.992 0-4.42 3.576-7.998 7.998-7.998s7.998 3.578 7.998 7.998c0 13.232 10.764 23.996 23.994 23.996 13.232 0 23.996-10.764 23.996-23.996a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 22.05-17.934 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M863.944 287.922c-22.058 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.996 23.996 13.23 0 23.994-10.764 23.994-23.996a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998 0 22.05-17.934 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M927.93 287.922c-22.058 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 7.998-7.998c4.422 0 8 3.578 8 7.998 0 13.232 10.762 23.996 23.994 23.996s23.994-10.764 23.994-23.996a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c0 22.05-17.934 39.992-39.992 39.992z"
                                          fill="" />

                                    <path d="M991.916 287.922c-22.058 0-39.992-17.942-39.992-39.992a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998c0 13.232 10.764 23.996 23.994 23.996a24.04 24.04 0 0 0 18.028-8.156c2.906-3.318 7.968-3.63 11.294-0.704a8.008 8.008 0 0 1 0.704 11.294 40.1 40.1 0 0 1-30.026 13.562z"
                                          fill="" />

                                    <path d="M8.128 277.002c-4.422 0-8-3.578-8-7.998v-53.068a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v53.068a7.994 7.994 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M984.792 223.936H40.996a7.994 7.994 0 0 1-7.998-8 7.994 7.994 0 0 1 7.998-7.998h943.798a7.994 7.994 0 0 1 7.998 7.998c0 4.422-3.58 8-8 8z"
                                          fill="" />

                                    <path d="M1015.912 277.064c-4.422 0-8-3.578-8-7.998v-53.13a7.994 7.994 0 0 1 8-7.998 7.994 7.994 0 0 1 7.998 7.998v53.13a7.994 7.994 0 0 1-7.998 7.998z"
                                          fill="" />

                                    <path d="M140.124 207.938a7.936 7.936 0 0 1-4.796-1.61 7.988 7.988 0 0 1-1.586-11.192L157.8 163.142a7.974 7.974 0 0 1 11.192-1.586 7.99 7.99 0 0 1 1.586 11.194L146.52 204.744a7.976 7.976 0 0 1-6.396 3.194z"
                                          fill="" />

                                    <path d="M202.102 207.938a7.89 7.89 0 0 1-4.242-1.226 7.986 7.986 0 0 1-2.522-11.02l20.066-31.994a7.982 7.982 0 0 1 11.02-2.524 7.988 7.988 0 0 1 2.522 11.022l-20.066 31.994a7.974 7.974 0 0 1-6.778 3.748z"
                                          fill="" />

                                    <path d="M264.066 208a7.95 7.95 0 0 1-3.578-0.852 7.986 7.986 0 0 1-3.562-10.73l15.998-31.87a7.988 7.988 0 0 1 10.732-3.562 7.99 7.99 0 0 1 3.562 10.732l-15.996 31.87a8.008 8.008 0 0 1-7.156 4.412z"
                                          fill="" />

                                    <path d="M326.054 207.938c-0.938 0-1.882-0.164-2.812-0.508a8.008 8.008 0 0 1-4.678-10.302l12.004-31.992c1.554-4.148 6.164-6.204 10.302-4.68a8.01 8.01 0 0 1 4.68 10.302l-12.006 31.994a8 8 0 0 1-7.49 5.186z"
                                          fill="" />

                                    <path d="M388.056 207.938c-0.64 0-1.296-0.078-1.944-0.242a7.986 7.986 0 0 1-5.82-9.694l7.998-31.992a7.964 7.964 0 0 1 9.694-5.82 7.986 7.986 0 0 1 5.82 9.694l-8 31.994a7.984 7.984 0 0 1-7.748 6.06z"
                                          fill="" />

                                    <path d="M450.036 207.938a8 8 0 0 1-7.944-8.99l4-31.992a7.998 7.998 0 0 1 15.872 1.982l-4 31.994a8.004 8.004 0 0 1-7.928 7.006z"
                                          fill="" />

                                    <path d="M512.014 207.938a7.994 7.994 0 0 1-7.998-7.998V167.948c0-4.422 3.578-8 7.998-8 4.422 0 8 3.578 8 8V199.94a7.992 7.992 0 0 1-8 7.998z"
                                          fill="" />

                                    <path d="M78.144 207.938a8 8 0 0 1-6.014-13.27l28.056-31.994a8.016 8.016 0 0 1 11.288-0.742 8.002 8.002 0 0 1 0.742 11.288L84.16 205.214a7.996 7.996 0 0 1-6.016 2.724z"
                                          fill="" />

                                    <path d="M883.94 207.954a8 8 0 0 1-6.39-3.186L853.46 172.758a7.998 7.998 0 1 1 12.78-9.624l24.088 32.01a7.996 7.996 0 0 1-6.388 12.81z"
                                          fill="" />

                                    <path d="M821.952 207.954a8.012 8.012 0 0 1-6.78-3.748l-20.09-32.01a7.99 7.99 0 0 1 2.532-11.022c3.716-2.318 8.67-1.226 11.03 2.524l20.09 32.01a7.99 7.99 0 0 1-2.532 11.02 7.994 7.994 0 0 1-4.25 1.226z"
                                          fill="" />

                                    <path d="M759.964 207.954a7.964 7.964 0 0 1-7.138-4.404l-16.092-32.01a7.994 7.994 0 0 1 3.546-10.74 7.98 7.98 0 0 1 10.732 3.554l16.09 32.01a7.99 7.99 0 0 1-7.138 11.59z"
                                          fill="" />

                                    <path d="M697.978 207.954a7.984 7.984 0 0 1-7.484-5.194l-11.996-32.01a7.994 7.994 0 0 1 4.67-10.294c4.108-1.516 8.748 0.532 10.294 4.688l11.996 32.008a7.99 7.99 0 0 1-7.48 10.802z"
                                          fill="" />

                                    <path d="M635.99 207.954a7.996 7.996 0 0 1-7.764-6.06l-7.998-32.01a8.01 8.01 0 0 1 5.826-9.694c4.294-1.118 8.624 1.532 9.702 5.82l7.998 32.008a8.01 8.01 0 0 1-7.764 9.936z"
                                          fill="" />

                                    <path d="M573.986 207.954a7.99 7.99 0 0 1-7.918-7.006l-4-32.01a8 8 0 0 1 6.952-8.928c4.078-0.554 8.374 2.546 8.92 6.946l4 32.008a8 8 0 0 1-7.954 8.99z"
                                          fill="" />

                                    <path d="M945.926 207.954a7.98 7.98 0 0 1-6.014-2.724L911.824 173.22a8.014 8.014 0 0 1 0.734-11.288 8.02 8.02 0 0 1 11.294 0.742l28.086 32.01a8.014 8.014 0 0 1-0.734 11.288 8.006 8.006 0 0 1-5.278 1.982z"
                                          fill="" />
                                </g>
                            </svg>
                        </div>
                        <div class="dt-item-sv">Easy Booking</div>
                    </div>
                </div>
                <div class="col-lg-2 hide-ab sv-it">
                    <div class="sv-dt-item">
                        <div class="dt-item-icon">
                            <svg fill="#000000"
                                 version="1.1"
                                 id="Capa_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 60 60"
                                 xml:space="preserve"
                                 width="100%"
                                 height="100%">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier"
                               stroke-linecap="round"
                               stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                            <g>
                            <g>
                            <path d="M18,17h2c2.8,0,5-2.2,5-5V9V1c0-0.6-0.4-1-1-1H14c-0.6,0-1,0.4-1,1v8v3C13,14.8,15.2,17,18,17z M23,12c0,1.7-1.3,3-3,3h-2 c-1.7,0-3-1.3-3-3v-2h8V12z M23,2v6h-8V6h5V4h-5V2H23z" />
                            <path d="M59,38h-2v-3c0-0.6-0.4-1-1-1h-2V22h2v-2h-3h-7v-2h-2v2h-7h-3v2h2v12h-2c-0.6,0-1,0.4-1,1v3h-2V25c0-3.9-3.1-7-7-7H14 c-3.9,0-7,3.1-7,7v13H1c-0.6,0-1,0.4-1,1v4v16c0,0.6,0.4,1,1,1h58c0.6,0,1-0.4,1-1V43v-4C60,38.4,59.6,38,59,38z M38,26h11v-2H38 v-2h14v12H38V26z M35,36h2h16h2v2H35V36z M29,25v13h-3V26h-2v2h-1v-8h1C26.8,20,29,22.2,29,25z M14,30h10v8H14V30z M17,28v-8h4v8 H17z M9,25c0-2.8,2.2-5,5-5h1v8h-1v-2h-2v12H9V25z M2,40h32h22h2v2H2V40z M58,58H2V44h56V58z" />
                            <rect x="18" y="32" width="2" height="2" />
                            <rect x="18" y="35" width="2" height="2" />
                            <rect x="40" y="8" width="2" height="8" />
                            <rect x="49" y="8" width="2" height="8" />
                            <rect x="53" y="12" width="2" height="4" />
                            <rect x="36" y="12" width="2" height="4" />
                          </g>
                        </g>
                      </g>
                    </svg>
                        </div>
                        <div class="dt-item-sv">Restaurant</div>
                    </div>
                </div>
                <div class="col-lg-2 hide-ab sv-it">
                    <div class="sv-dt-item">
                        <div class="dt-item-icon">
                            <svg class="poolsvg"
                                 width="100%"
                                 height="100%"
                                 viewBox="0 0 45 45"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier"
                                   stroke-linecap="round"
                                   stroke-linejoin="round" />

                                <g id="SVGRepo_iconCarrier">
                                    <path d="M23.125 20.375H29.125"
                                          stroke="#3C3C3C"
                                          stroke-width="2" />
                                    <path d="M10.125 16.375H34.125"
                                          stroke="#3C3C3C"
                                          stroke-width="2" />
                                    <path d="M29.125 23.375V13.375C29.125 11.718 27.782 10.375 26.125 10.375C24.468 10.375 23.125 11.718 23.125 13.375M23.125 23.375V13.375C23.125 11.718 21.782 10.375 20.125 10.375C18.468 10.375 17.125 11.718 17.125 13.375"
                                          stroke="#3C3C3C"
                                          stroke-width="2" />
                                    <mask id="mask0_2_1368"
                                          style="mask-type: alpha"
                                          maskUnits="userSpaceOnUse"
                                          x="2"
                                          y="18"
                                          width="41"
                                          height="21">
                                        <path d="M42.018 18.2505V38.3975H2V18.2505H42.018Z"
                                              fill="#000000" />
                                    </mask>
                                    <g mask="url(#mask0_2_1368)">
                                        <path d="M10.136 34.852C9.41198 34.852 8.68798 34.602 8.13598 34.102C7.58398 33.602 6.85998 33.352 6.13598 33.352C5.41199 33.352 4.68798 33.602 4.13598 34.102C3.58398 34.602 2.85999 34.852 2.13598 34.852C1.41199 34.852 0.687984 34.602 0.135984 34.102C-0.416016 33.602 -1.14001 33.352 -1.86402 33.352C-2.58801 33.352 -3.31202 33.602 -3.86402 34.102C-4.41602 34.602 -5.14001 34.852 -5.86402 34.852C-6.58801 34.852 -7.31202 34.602 -7.86402 34.102C-8.41602 33.602 -9.14001 33.352 -9.86402 33.352C-10.588 33.352 -11.312 33.602 -11.864 34.102C-12.416 34.602 -13.14 34.852 -13.864 34.852M58.124 34.866C57.4 34.866 56.676 34.616 56.124 34.116C55.572 33.616 54.848 33.366 54.124 33.366C53.4 33.366 52.676 33.616 52.124 34.116C51.572 34.616 50.848 34.866 50.124 34.866C49.4 34.866 48.676 34.616 48.124 34.116C47.572 33.616 46.848 33.366 46.124 33.366C45.4 33.366 44.676 33.616 44.124 34.116C43.572 34.616 42.848 34.866 42.124 34.866C41.4 34.866 40.676 34.616 40.124 34.116C39.572 33.616 38.848 33.366 38.124 33.366C37.4 33.366 36.676 33.616 36.124 34.116C35.572 34.616 34.848 34.866 34.124 34.866M34.125 34.875C33.401 34.875 32.677 34.625 32.125 34.125C31.573 33.625 30.849 33.375 30.125 33.375C29.401 33.375 28.677 33.625 28.125 34.125C27.573 34.625 26.849 34.875 26.125 34.875C25.401 34.875 24.677 34.625 24.125 34.125C23.573 33.625 22.849 33.375 22.125 33.375C21.401 33.375 20.677 33.625 20.125 34.125C19.573 34.625 18.849 34.875 18.125 34.875C17.401 34.875 16.677 34.625 16.125 34.125C15.573 33.625 14.849 33.375 14.125 33.375C13.401 33.375 12.677 33.625 12.125 34.125C11.573 34.625 10.849 34.875 10.125 34.875"
                                              stroke="#3C3C3C"
                                              stroke-width="2" />
                                        <path d="M10.136 29.852C9.41198 29.852 8.68798 29.602 8.13598 29.102C7.58398 28.602 6.85998 28.352 6.13598 28.352C5.41199 28.352 4.68798 28.602 4.13598 29.102C3.58398 29.602 2.85999 29.852 2.13598 29.852C1.41199 29.852 0.687984 29.602 0.135984 29.102C-0.416016 28.602 -1.14001 28.352 -1.86402 28.352C-2.58801 28.352 -3.31202 28.602 -3.86402 29.102C-4.41602 29.602 -5.14001 29.852 -5.86402 29.852C-6.58801 29.852 -7.31202 29.602 -7.86402 29.102C-8.41602 28.602 -9.14001 28.352 -9.86402 28.352C-10.588 28.352 -11.312 28.602 -11.864 29.102C-12.416 29.602 -13.14 29.852 -13.864 29.852M58.124 29.866C57.4 29.866 56.676 29.616 56.124 29.116C55.572 28.616 54.848 28.366 54.124 28.366C53.4 28.366 52.676 28.616 52.124 29.116C51.572 29.616 50.848 29.866 50.124 29.866C49.4 29.866 48.676 29.616 48.124 29.116C47.572 28.616 46.848 28.366 46.124 28.366C45.4 28.366 44.676 28.616 44.124 29.116C43.572 29.616 42.848 29.866 42.124 29.866C41.4 29.866 40.676 29.616 40.124 29.116C39.572 28.616 38.848 28.366 38.124 28.366C37.4 28.366 36.676 28.616 36.124 29.116C35.572 29.616 34.848 29.866 34.124 29.866M34.125 29.875C33.401 29.875 32.677 29.625 32.125 29.125C31.573 28.625 30.849 28.375 30.125 28.375C29.401 28.375 28.677 28.625 28.125 29.125C27.573 29.625 26.849 29.875 26.125 29.875C25.401 29.875 24.677 29.625 24.125 29.125C23.573 28.625 22.849 28.375 22.125 28.375C21.401 28.375 20.677 28.625 20.125 29.125C19.573 29.625 18.849 29.875 18.125 29.875C17.401 29.875 16.677 29.625 16.125 29.125C15.573 28.625 14.849 28.375 14.125 28.375C13.401 28.375 12.677 28.625 12.125 29.125C11.573 29.625 10.849 29.875 10.125 29.875"
                                              stroke="#3C3C3C"
                                              stroke-width="2" />
                                        <path d="M10.136 24.852C9.41198 24.852 8.68798 24.602 8.13598 24.102C7.58398 23.602 6.85998 23.352 6.13598 23.352C5.41199 23.352 4.68798 23.602 4.13598 24.102C3.58398 24.602 2.85999 24.852 2.13598 24.852C1.41199 24.852 0.687984 24.602 0.135984 24.102C-0.416016 23.602 -1.14001 23.352 -1.86402 23.352C-2.58801 23.352 -3.31202 23.602 -3.86402 24.102C-4.41602 24.602 -5.14001 24.852 -5.86402 24.852C-6.58801 24.852 -7.31202 24.602 -7.86402 24.102C-8.41602 23.602 -9.14001 23.352 -9.86402 23.352C-10.588 23.352 -11.312 23.602 -11.864 24.102C-12.416 24.602 -13.14 24.852 -13.864 24.852M58.124 24.866C57.4 24.866 56.676 24.616 56.124 24.116C55.572 23.616 54.848 23.366 54.124 23.366C53.4 23.366 52.676 23.616 52.124 24.116C51.572 24.616 50.848 24.866 50.124 24.866C49.4 24.866 48.676 24.616 48.124 24.116C47.572 23.616 46.848 23.366 46.124 23.366C45.4 23.366 44.676 23.616 44.124 24.116C43.572 24.616 42.848 24.866 42.124 24.866C41.4 24.866 40.676 24.616 40.124 24.116C39.572 23.616 38.848 23.366 38.124 23.366C37.4 23.366 36.676 23.616 36.124 24.116C35.572 24.616 34.848 24.866 34.124 24.866M34.125 24.875C33.401 24.875 32.677 24.625 32.125 24.125C31.573 23.625 30.849 23.375 30.125 23.375C29.401 23.375 28.677 23.625 28.125 24.125C27.573 24.625 26.849 24.875 26.125 24.875C25.401 24.875 24.677 24.625 24.125 24.125C23.573 23.625 22.849 23.375 22.125 23.375C21.401 23.375 20.677 23.625 20.125 24.125C19.573 24.625 18.849 24.875 18.125 24.875C17.401 24.875 16.677 24.625 16.125 24.125C15.573 23.625 14.849 23.375 14.125 23.375C13.401 23.375 12.677 23.625 12.125 24.125C11.573 24.625 10.849 24.875 10.125 24.875"
                                              stroke="#3C3C3C"
                                              stroke-width="2" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="dt-item-sv">
                            Swimming <br />
                            Pool
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 hide-ab sv-it">
                    <div class="sv-dt-item">
                        <div class="dt-item-icon">
                            <svg fill="#000000"
                                 height="100%"
                                 width="100%"
                                 version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 503.607 503.607"
                                 xml:space="preserve">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier"
                               stroke-linecap="round"
                               stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                            <g transform="translate(1 1)">
                            <g>
                            <g>
                            <path d="M494.213,150.082c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393h-41.967v-8.393h41.967 c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393h-41.967v-8.393h33.574c5.036,0,8.393-3.357,8.393-8.393 s-3.357-8.393-8.393-8.393h-33.574v-8.393h25.18c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393h-25.18v-8.393h16.787 c5.036,0,8.393-3.357,8.393-8.393c0-5.036-3.357-8.393-8.393-8.393h-16.787V24.18h8.393c5.036,0,8.393-3.357,8.393-8.393 s-3.357-8.393-8.393-8.393h-8.393c0-5.036-3.357-8.393-8.393-8.393c-5.036,0-8.393,3.357-8.393,8.393h-8.393 c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h8.393v8.393h-16.787c-5.036,0-8.393,3.357-8.393,8.393 c0,5.036,3.357,8.393,8.393,8.393h16.787v8.393h-25.18c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h25.18v8.393 h-33.574c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h33.574v8.393h-41.967c-5.036,0-8.393,3.357-8.393,8.393 s3.357,8.393,8.393,8.393h41.967v8.393h-41.967c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h41.967v8.393h-41.967 c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h41.967v8.393h-41.967c-5.036,0-8.393,3.357-8.393,8.393 s3.357,8.393,8.393,8.393h41.967v8.393h-33.574c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h33.574v8.393h-25.18 c-5.036,0-8.393,3.357-8.393,8.393s3.357,8.393,8.393,8.393h25.18v8.393h-16.787c-5.036,0-8.393,3.357-8.393,8.393 c0,5.036,3.357,8.393,8.393,8.393h16.787v33.574h-10.072c-12.59,0-23.502,10.911-23.502,23.502v18.466h-16.787v151.082h117.508 V351.525H485.82v-18.466c0-12.59-10.911-23.502-23.502-23.502h-10.072v-33.574h16.787c5.036,0,8.393-3.357,8.393-8.393 c0-5.036-3.357-8.393-8.393-8.393h-16.787v-8.393h25.18c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393h-25.18v-8.393 h33.574c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393h-33.574v-8.393h41.967c5.036,0,8.393-3.357,8.393-8.393 s-3.357-8.393-8.393-8.393h-41.967v-8.393h41.967c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393h-41.967v-8.393 H494.213z M485.82,485.82h-83.934V368.311h83.934V485.82z M469.033,333.059v18.466h-50.361v-18.466 c0-3.357,3.357-6.715,6.715-6.715h36.931C465.675,326.344,469.033,329.702,469.033,333.059z" />
                            <path d="M317.951,129.181c1.429-8.7-0.389-16.419-5.875-21.906c-6.715-6.715-16.787-8.393-28.538-4.197 c-10.072,3.357-20.144,10.072-29.377,19.305c-9.233,9.233-15.948,19.305-19.305,29.377c-2.148,7.518-2.567,14.344-0.839,20.048 v104.175h-16.787v41.967v16.787v167.869h117.508V334.738v-16.787v-41.967h-16.787V129.181z M250.803,156.797 c2.518-7.554,7.554-16.787,15.108-23.502c7.554-6.715,15.948-12.59,23.502-15.108c3.357-1.679,5.875-1.679,7.554-1.679 s3.357,0.839,4.197,2.518c0.854,0.854,1.271,2.526,1.173,4.788c-0.559,0.814-0.967,1.739-1.173,2.766 c-1.679,8.393-7.554,17.626-15.948,26.02c-15.108,15.108-31.056,18.466-34.413,15.108c0,0,0,0-0.839-0.839 c-0.142-0.708-0.386-1.364-0.703-1.969C249.081,162.976,249.466,160.364,250.803,156.797z M250.803,185.915 c1.325,0.172,2.718,0.259,4.197,0.259c4.197,0,8.393-0.839,12.59-1.679c10.072-3.357,20.144-10.072,29.377-19.305 c1.472-1.472,2.867-2.963,4.197-4.463v115.256h-50.361V185.915z M317.951,485.82h-83.934V334.738h83.934V485.82z M234.016,317.951v-25.18h8.393h67.148h8.393v25.18H234.016z" />
                            <path d="M158.475,24.18c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393H66.148c-1.485,0-2.819,0.299-3.969,0.839 H39.289C17.466,8.233-1,25.859-1,48.521v397.01c0,21.823,17.626,40.289,40.289,40.289h26.859h8.393h83.934 c5.036,0,8.393-3.357,8.393-8.393c0-5.036-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393 s-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393H74.541v-25.18h83.934 c5.036,0,8.393-3.357,8.393-8.393c0-5.036-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393 c0-5.036-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393c0-5.036-3.357-8.393-8.393-8.393H74.541 v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393 s-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393H74.541v-25.18h83.934 c5.036,0,8.393-3.357,8.393-8.393s-3.357-8.393-8.393-8.393H74.541v-25.18h83.934c5.036,0,8.393-3.357,8.393-8.393 s-3.357-8.393-8.393-8.393H74.541V24.18H158.475z M15.787,445.531V48.521c0-13.43,10.911-24.341,23.502-24.341h18.466v444.852 H39.289C26.698,469.033,15.787,458.961,15.787,445.531z" />
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                        </div>
                        <div class="dt-item-sv">Beauty & <br />Health</div>
                    </div>
                </div>
                <div class="col-lg-2 hide-ab sv-it">
                    <div class="sv-dt-item">
                        <div class="dt-item-icon">
                            <svg fill="#000000"
                                 height="100%"
                                 width="100%"
                                 version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 512 512"
                                 xml:space="preserve">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier"
                               stroke-linecap="round"
                               stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                            <g>
                            <g>
                            <path d="M386.395,139.102c-4.394-4.785-10.64-7.531-17.137-7.531h-11.945l1.421-21.792l1.764-27.056 c1.362-20.886-5.77-40.8-20.08-56.074C326.108,11.375,306.7,2.964,285.771,2.964h-59.546c-20.93,0-40.337,8.411-54.647,23.685 c-14.31,15.274-21.441,35.187-20.08,56.074l2.647,40.581l0.539,8.267h-12.966c-6.497,0-12.743,2.745-17.137,7.531 c-4.394,4.786-6.596,11.244-6.041,17.718l3.885,45.267c0.802,9.357,6.924,16.917,15.265,19.895v42.178 c0,5.633,4.566,10.199,10.199,10.199c5.633,0,10.199-4.566,10.199-10.199v-40.797h2.74c3.684,30.648,21.696,57.47,48.968,72.471 c14.468,7.957,30.333,11.935,46.204,11.935c15.868,0,31.741-3.979,46.204-11.935c13.855-7.62,25.312-18.297,33.726-30.97 c7.017-0.721,13.53-2.663,19.504-5.857c29.474-15.762,32.991-55.293,33.126-56.968c0-0.001,0-0.003,0-0.004l3.876-45.216 C392.991,150.346,390.789,143.888,386.395,139.102z M145.601,202.964c-1.498,0-2.725-1.126-2.853-2.619l-3.881-45.268 c-0.089-1.037,0.355-1.758,0.744-2.182c0.388-0.423,1.069-0.927,2.109-0.927h14.296l3.326,50.996H145.601z M171.857,81.395 c-0.991-15.197,4.197-29.686,14.609-40.8c10.411-11.113,24.533-17.233,39.762-17.233h59.546c1.321,0,2.63,0.063,3.933,0.154 l-15.8,42.132c-2.554,4.244-25.729,39.11-100.073,46.059L171.857,81.395z M331.319,216.737c-0.641,9.822-3.143,19.212-7.24,27.77 c-8.751-0.963-18.733-4.198-29.888-9.684c0.369-1.724,0.567-3.51,0.567-5.342c0-14.06-11.438-25.498-25.498-25.498 c-14.06,0-25.498,11.438-25.498,25.498c0,14.06,11.438,25.498,25.498,25.498c4.656,0,9.021-1.261,12.782-3.449 c10.469,5.392,20.329,9.199,29.547,11.396c-5.46,5.922-11.913,11.019-19.214,15.035c-22.776,12.528-49.972,12.528-72.748,0 c-22.699-12.485-37.258-35.372-38.944-61.223l-5.522-84.68c57.446-5.269,88.777-26.267,104.215-41.341 c4.128,4.734,10.026,9.094,17.645,13.029c8.233,4.253,21.935,8.725,40.798,13.319L331.319,216.737z M274.359,229.482 c0,2.812-2.288,5.1-5.1,5.1s-5.1-2.288-5.1-5.1c0-2.812,2.288-5.1,5.1-5.1S274.359,226.67,274.359,229.482z M340.143,81.394 l-0.977,14.994c-18.901-4.751-28.215-8.404-32.783-10.764c-11.122-5.746-13.632-10.499-13.699-11.958 c0.008-0.02,0.013-0.041,0.02-0.061c0.005-0.014,0.012-0.028,0.017-0.042l16.798-44.794c5.927,2.873,11.346,6.844,16.014,11.826 C335.947,51.708,341.135,66.198,340.143,81.394z M347.691,239.918c1.629-5.355,2.801-10.889,3.482-16.555h10.464 C358.564,229.66,354.111,235.858,347.691,239.918z M368.231,200.345c-0.128,1.493-1.354,2.619-2.853,2.619h-12.72l3.326-50.996 h13.275c1.04,0,1.722,0.504,2.109,0.927c0.389,0.423,0.832,1.144,0.744,2.181L368.231,200.345z" />
                          </g>
                        </g>
                            <g>
                            <g>
                            <path d="M511.837,497.019l-9.862-54.436c-5.527-30.507-20.03-58.2-41.943-80.085c-21.657-21.63-48.95-36.047-78.93-41.692 c-9.24-1.74-18.691-2.622-28.089-2.622h-29.699c-2.705,0-5.299,1.075-7.212,2.987L256,381.273l-60.102-60.103 c-1.912-1.912-4.507-2.987-7.212-2.987h-29.7c-9.394,0-18.844,0.882-28.087,2.622c-0.001,0-0.001,0-0.002,0 c-29.979,5.645-57.273,20.062-78.93,41.692c-21.912,21.885-36.416,49.578-41.943,80.085l-9.862,54.437 c-0.539,2.975,0.27,6.035,2.208,8.355c1.938,2.32,4.805,3.661,7.828,3.661h491.602c3.023,0,5.89-1.341,7.828-3.661 C511.567,503.054,512.375,499.995,511.837,497.019z M263.213,402.908l64.326-64.327h25.476c1.321,0,2.642,0.02,3.963,0.06 L256,439.619l-14.749-14.749L263.213,402.908z M158.986,338.581h25.475l57.115,57.116l-14.749,14.749l-71.803-71.804 C156.345,338.6,157.666,338.581,158.986,338.581z M22.412,488.638l7.685-42.418c9.295-51.307,48.902-92.597,99.378-104.278 l119.313,119.313c0.249,0.249,0.508,0.482,0.775,0.7c3.739,3.05,9.136,3.05,12.875,0c0.267-0.218,0.525-0.451,0.775-0.7 l119.313-119.313c50.475,11.681,90.082,52.971,99.378,104.278l7.685,42.418H22.412z" />
                          </g>
                        </g>
                            <g>
                            <g>
                            <path d="M147.888,284.558c-5.633,0-10.199,4.566-10.199,10.199v4.08c0,5.633,4.566,10.199,10.199,10.199 c5.633,0,10.199-4.566,10.199-10.199v-4.08C158.088,289.124,153.522,284.558,147.888,284.558z" />
                          </g>
                        </g>
                      </g>
                    </svg>
                        </div>
                        <div class="dt-item-sv">Help & <br />Support</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bn-find-best">
    <div class="fb-content">
        <div class="des-find">
            <div class="des-find-content ds-hd hide-ds">
                <div class="header-find-best">Find Best hotel for leaving</div>
                Find the Best Hotel in Your Next Vacation
            </div>
            @Html.ActionLink("BOOK NOW", "Index", "Rooms")
        </div>
    </div>
</div>

<div class="container">
    <div class="row ft-home hide-ab">
        <div class="ft-home-head">OUR ROOMS</div>
        <div class="ft-home-name">Featured Rooms</div>
    </div>
    <div class="row">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if ((i % 2) != 1)
            {
                <div class="col-lg-4">
                    <div class="container-card-room hide-card">
                        <div class="card-bd-d">
                            <div class="content-card">
                                <div class="name-card">
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                </div>
                                <div class="des-card">
                                    <p>@Html.DisplayFor(modelItem => Model.ElementAt(i).Sumary)</p>
                                </div>
                                <div class="st-card">
                                    <p>
                                        <span>$@Html.DisplayFor(modelItem => Model.ElementAt(i).Price)/Night</span>
                                        @Html.ActionLink("BOOK NOW", "Detail", new { id = Model.ElementAt(i).Id })
                                    </p>
                                </div>
                            </div>
                            <a href="">
                                <div class="img-room" style="background-image: url(@Html.DisplayFor(modelItem => Model.ElementAt(i).Roomimgs.FirstOrDefault().Link));">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-4">
                    <div class="container-card-room hide-card">
                        <div class="card-bd-d">
                            <a href="">
                                <div class="img-room" style="background-image: url(@Html.DisplayFor(modelItem => Model.ElementAt(i).Roomimgs.FirstOrDefault().Link));">
                                </div>
                            </a>
                            <div class="content-card">
                                <div class="name-card">
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                </div>
                                <div class="des-card">
                                    <p>@Html.DisplayFor(modelItem => Model.ElementAt(i).Sumary)</p>
                                </div>
                                <div class="st-card">
                                    <p>
                                        <span>$@Html.DisplayFor(modelItem => Model.ElementAt(i).Price)/Night</span>
                                        @Html.ActionLink("BOOK NOW", "Detail", new { id = Model.ElementAt(i).Id })
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- <div class="col-lg-4">
            <div class="container-card-room hide-card">
                <div class="card-bd-d">
                    <div class="content-card">
                        <div class="name-card">Suite Room</div>
                        <div class="des-card">
                            <p>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                        <div class="st-card">
                            <p>
                                <span>$450/Night</span>
                                <a href="./room.html">BOOK NOW</a>
                            </p>
                        </div>
                    </div>
                    <a href="">
                        <div class="img-room"
                             style="background-image: url(./img/a2.jpg)"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container-card-room hide-card">
                <div class="card-bd-d">
                    <a href="">
                        <div class="img-room"
                             style="background-image: url(./img/a2.jpg)"></div>
                    </a>
                    <div class="content-card">
                        <div class="name-card">Suite Room</div>
                        <div class="des-card">
                            <p>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                        <div class="st-card">
                            <p>
                                <span>$450/Night</span>
                                <a href="./room.html">BOOK NOW</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container-card-room hide-card">
                <div class="card-bd-d">
                    <div class="content-card">
                        <div class="name-card">Suite Room</div>
                        <div class="des-card">
                            <p>
                                Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind
                                texts.
                            </p>
                        </div>
                        <div class="st-card">
                            <p>
                                <span>$450/Night</span>
                                <a href="./room.html">BOOK NOW</a>
                            </p>
                        </div>
                    </div>
                    <a href="">
                        <div class="img-room"
                             style="background-image: url(./img/a2.jpg)"></div>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="container-fluid ctn-pl-bn">
    <div class="bn-ct-pl">
        <div class="hd-pl-bn">WATCH OUR LUXURIOUS HOTEL</div>
        <div class="name-pl-bn">Take A Tour</div>
        <div class="icon-pl-bn">
            <svg width="40%"
                 height="40%"
                 viewBox="-3 0 28 28"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <title>play</title>
                <defs></defs>
                <g id="Page-1"
                   stroke="none"
                   stroke-width="1"
                   fill="none"
                   fill-rule="evenodd"
                   sketch:type="MSPage">
                    <g id="Icon-Set-Filled"
                       sketch:type="MSLayerGroup"
                       transform="translate(-419.000000, -571.000000)"
                       fill="#fff">
                        <path d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554"
                              id="play"
                              sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>
